@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: Roboto,Arial;
}
.profile-picture{
    height: 130px;
    width: 130px;
    border-radius: 80px;
    margin-top: 30px;
    object-fit: cover;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 740px;
    width: 472px;
    background-color: rgb(39, 39, 39);
    color: white;
    border-radius: 6px;
    border-style: none;
}
body{
 background-color: rgb(36, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0.5px 0px black;
    display: inline-block;
   margin:0;
   width: 472px;
   height: 740px;
   
}
h1{
    font-size: 38px;
    font-weight: 700;
   margin-bottom: 0;
   margin-top: 26px;
   display: flex;
   justify-content: center;
}
.address-info{
    font-size: 20px;
    font-weight: bold;
    color: rgb(219, 219, 80);
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.info{

}
.my-course{
    font-size: 20px;
    display: flex;
        justify-content: center;
        margin-top: 20px;
        color: rgb(228, 228, 228);
        font-weight: normal;
}
button{
    margin-top: 30px;
    
}
.socmed-btn{
 display: grid;


}
.button{
display: block;
margin-left: 64px; 
width: 340px;
height: 60px;
margin-top: 13px;
border-radius: 3px;
border-style: none;
background-color: rgb(49, 49, 49);
color: white;
box-shadow: 0px 0px 1px 0px rgb(34, 34, 34);
font-size: 15px;
font-weight: 700px;
transition: 0.59s;
}
.button:hover{
    background-color: rgb(218, 218, 92);
    color:rgb(49, 49, 49);
}
.button:active{
   background-color: white;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}